@import 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}
