<template>
  <div>
    <Nuxt />
  </div>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import TypedStoreMixin from '~/mixins/typed-store'

@Component({})
export default class DefaultLayout extends mixins(TypedStoreMixin) {}
</script>
